body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.first-screen {
    background: url(img/Rectangle.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    align-content: center;
}

.first-screen-menu > ul > li > a{
    color: #ffffff;
    text-decoration: none;
    padding: 39px 20px;
}

ul#menu {
    margin: 0;
    height: 59px;
    align-items: center;
    padding-top: 40px;
    border-bottom: 1px solid #a1a1a1 ;
    padding-left: 48%;
}

ul#menu li {
    display: inline;
}

a#current {
    border-bottom: 2px solid #ffffff;
}

.first-screen > p {
    text-align: center;
    margin-top: 220px;
    margin-bottom: 20px;
}

.motto {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin: 0;
    padding: 0 24%;
}

.first-screen-button {
    text-align: center;
    margin-top: 50px;
}

.first-screen-button > button{
    background: #4985ff;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 14px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.services {
    margin-top: 110px;
    margin-bottom: 105px;
}

.services > h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
    padding: 0 30%;
    margin-top: 0;
    margin-bottom: 50px;
}

.services > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin: 0;
    padding: 0 31%;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 70px;
}

.project {
    display: flex;
    width: 290px;
    margin: 0 15px;
}

.desc-project > h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 40px 0 12px 17px;
}

.project img {

    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.desc-project > p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    margin: 0;
}

.ellipse-1 {
    width: 65px;
    height: 65px;
    background-color: transparent;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border-color: #4985ff;
    text-align: center;
    line-height: 65px;
}

.ellipse-2 {
    width: 75px;
    height: 75px;
    background-color: transparent;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border-color: #4985ff;
    text-align: center;
    line-height: 75px;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F6F6F8;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 60px;
}

.about-us-text > h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    margin-top: 0;
    margin-bottom: 40px;
}

.about-us-text > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin: 0;
}

.description > img {
    width: 500px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    margin: 0 60px;
}

.description {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 100px;
}

.our-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 70px;
    border-top: 1px solid #E0E0E0;
    margin-top: 90px;
    margin-bottom: 70px;
}

.about-us-numbers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 104px;
    margin: 0 50px;
}

.web-programming {
    height: 30px;
    width: 30px;
    margin: 11px 15px 0 0; 
}

p.number {
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    margin: 0;
}

p.our-projects-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin: 0;
}

.all-services {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}

.all-services-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 70px;
}

.all-services-header > h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
}

.all-services-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 85px;
}

.all-services-item {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 15px;
}

.all-services-item > img {
    border-radius: 10px;
}

.all-services-item > h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.all-services-item > h3 > span {
    color: #4985FF;
}

.all-services-item > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.all-services-item > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

.all-projects > h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #000000;
    margin-top: 100px;
}

.all-projects > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin: 0 31%;
}

.all-projects-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 35px;
}

.all-projects-item{
    border-radius: 10px;
    margin: 35px 15px 0 15px;
}

.all-projects-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 130px;
}

.all-projects-button > button{
    background: #4985ff;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 14px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.video {
    background: url(img/video.png) no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-header {
    padding-top: 40px;
    margin-bottom: 70px;
}

.video-header > h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}

.video-header > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.video-2 {
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 10px;
    text-align: center;
}

.watch-video {
    display: flex;
    flex-direction: row;
    margin: -300px 0 0 34%;
    padding: 20px 40px;
    width: 320px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 200px;
}

.watch-video > img {
    margin: 0 10px;
}

.watch-video > p {
    margin: 20px 10px 0 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.subcribe {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
}

.subcribe > h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.bait {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-top: 2px;
    margin-bottom: 30px;
}

.lie {
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
    margin-top: 35px;
    margin-bottom: 85px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.e-mail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 490px; 
    border: none; 
    height: 45px; 

}

input[type="email"] {
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px 0px 0px 30px;
    width: 300px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
    padding-left: 33px;
}

input[type="submit"] {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0px 30px 30px 0px;
    border-left: none;
    width: 190px;
    height: 45px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

hr {
    width: 58%;
    size: 1px;
    color:  #E0E0E0;
    margin-top: 250px;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    background: #F6F6F8;
}

.footer-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 70px;
}

.rights:before{
    width:58%;
    border-top:1px solid #e0e0e0;
    content:"";
    margin-top: 55px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    margin: 0 22px;
}

.footer-item > h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 6px;
}

.contacts {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    padding-left: 22px;
}

ul.footer-list {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    padding-left: 22px;
}

li.envelope {
    list-style-image: url(img/envelope.png);
    padding-left: 15px;
    margin: 15px 0;
}

li.call {
    list-style-image: url(img/call.png);
    padding-left: 15px;
    margin: 15px 0;
}

li.placeholder {
    list-style-image: url(img/placeholder.png);
    padding-left: 15px;
    margin: 15px 0;
}

ul.footer-list > li {
    list-style-image: url(img/right-arrow.png); 
    padding-left: 15px;
    margin: 15px 0;
}

footer > hr {
    margin: 70px 0 0 0;
}

.rights {
    margin-top: 30px;
    margin-bottom: 35px;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}

.footer-item > ul > li > a {
    color: #999999;
    text-decoration: none;
}





